---
import { Content as ProjectsText } from '@/data/projects.md';
import ProjectList from '@components/ProjectList.astro';
---

<div class="projects" id="projects">
  <h2>Proyectos</h2>
  <header class="projects__intro">
    <ProjectsText />
  </header>
  <ProjectList />
</div>

<style lang="scss">
  .projects {
    @include card;
    position: relative;

    & .projects__intro {
      margin-bottom: 20px;
    }
  }

  h2 {
    font-size: var(--step-3);
    margin-bottom: var(--space-m);
  }

  .project__button {
    display: block;
    width: fit-content;
    font-size: var(--step-1);
    margin-top: var(--space-xl);
    @include border-button;
  }
</style>
