@import "variables";
@import "reset";
@import "mixins";

body {
  color: var(--fg);
  background-color: var(--bg);
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: var(--step-0);
}

main > * {
  @include centered-content;
  margin-top: var(--space-xl-2xl);
  scroll-margin-top: 4rem;
}

p,
li {
  max-width: 80ch;
}

p + p {
  margin-top: var(--space-s);
}

a {
  color: var(--fg-secondary);
  text-decoration-color: var(--fg-secondary);

  &:hover {
    color: var(--fg);
    text-decoration-color: var(--danger);
  }
}
