---
import AboutMe from '@/components/AboutMe.astro';
import Experience from '@/components/Experience.astro';
import Hero from '@/components/Hero.astro';
import Briefcase from '@/components/icons/Briefcase.astro';
import CodeIcon from '@/components/icons/Code.astro';
import ProfileCheck from '@/components/icons/ProfileCheck.astro';
import Projects from '@/components/Projects.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import TitleSection from '@/components/TitleSection.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title='Edier Hernandez | Portafolio'
  description='Edier Hernandez - Desarrollador especializado en aplicaciones web y móviles. Crea soluciones innovadoras, escalables y personalizadas para llevar tu proyecto al siguiente nivel. ¡Transforma tus ideas en realidad!'
>
  <main class='px-4'>
    <SectionContainer class='py-16 md:py-36'>
      <Hero />
    </SectionContainer>
  </main>
  <div class='space-y-24'>
    <SectionContainer id='experiencia'>
      <TitleSection>
        <Briefcase class='size-8' />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id='proyectos'>
      <TitleSection>
        <CodeIcon class='size-7' />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id='sobre-mi'>
      <TitleSection>
        <ProfileCheck class='size-8' />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
