---
import Layout from '@/layouts/Layout.astro';
import SocialContact from '@components/SocialContact.astro';
---

<Layout pageName="Contacto">
  <div class="contact">
    <h1>¡Gracias por el mensaje!</h1>
    <p>
      Me pondré en contacto contigo tan pronto como sea posible. Mientras tanto,
      puedes encontrarme en los siguientes sitios:
    </p>
    <div class="contact__social"><SocialContact /></div>
    <a class="return" href="/">Volver al portafolio</a>
  </div>
</Layout>

<style lang="scss">
  .contact__social {
    margin-block: var(--space-l);
  }

  p {
    margin-top: var(--space-m);
  }

  .return {
    width: fit-content;
    margin-inline: auto;
    font-size: var(--step-1);
    @include border-button;
  }
</style>
