---
import { defaultLang, type Lang } from '@/i18n/ui';
import { useTranslations } from '@/i18n/utils';

const currentLang = (Astro.currentLocale || defaultLang) as Lang;
const t = useTranslations(currentLang);

const personalImageAlt = t('hero.imgAlt');
---

<article
  class='flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row'
>
  <div
    class='[&>p]:mb-4 [&>p>strong]:text-secondary dark:[&>p>strong]:text-secondary [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1'
  >
    <p>
      {t('hi')}, <strong>{t('me')}</strong>, {t('about.1')}
      <strong>{t('about.2')}</strong>
    </p>

    <p>
      {t('about.4')}
      <strong>{t('about.5')}</strong>. {t('about.6')}
    </p>

    <p>
      {t('about.3')}
      <strong>{t('about.7')}</strong>
    </p>
  </div>

  <img
    width='200'
    height='200'
    src='/about-me.webp'
    alt={personalImageAlt}
    class='order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20'
    style='object-position: 50% 50%'
  />
</article>
