---
const personalImageAlt =
  'Imagen de Edier Hernandez, desarrollador de software con una trayectoria sólida en la creación y optimización de soluciones tecnológicas';
---

<article
  class='flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row'
>
  <div
    class='[&>p]:mb-4 [&>p>strong]:text-secondary dark:[&>p>strong]:text-secondary [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1'
  >
    <p>
      Hola, <strong>soy Edier Hernandez</strong>, un apasionado desarrollador de
      software con una trayectoria sólida en la creación y optimización de
      soluciones tecnológicas. Tengo experiencia en el <strong>
        desarrollo de aplicaciones web y móviles, así como en la implementación
        de prácticas de arquitectura limpia y optimización de APIs.
      </strong>
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >colaborar en el desarrollo del sitio web de la velada IV</strong
      >. Aunque mis contribuciones no fueron por medio de un contrato, disfruté
      mucho el aportar al Open Source.
    </p>

    <p>
      Mi enfoque es ofrecer soluciones eficientes y escalables, y disfruto
      aplicando las mejores prácticas de desarrollo para garantizar un
      rendimiento óptimo y una experiencia de usuario sobresaliente. <strong
        >Mi misión es seguir creciendo como profesional y contribuir al
        desarrollo de productos tecnológicos que hagan una diferencia real.</strong
      >
    </p>
  </div>

  <img
    width='200'
    height='200'
    src='/about-me.webp'
    alt={personalImageAlt}
    class='order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20'
    style='object-position: 50% 50%'
  />
</article>
