---
import ExperienceItem from './ExperienceItem.astro';

import { defaultLang, type Lang } from '@/i18n/ui';
import { useTranslations } from '@/i18n/utils';

const currentLang = (Astro.currentLocale || defaultLang) as Lang;
const t = useTranslations(currentLang);

const EXPERIENCE = [
  {
    date: t('experience.current.date'),
    title: t('experience.current.title'),
    company: 'Amadeus',
    description: t('experience.current.description'),
  },
  {
    date: t('experience.1.date'),
    title: t('experience.1.title'),
    company: 'Comercial Allan S.A.S',
    description: t('experience.1.description'),
  },
  {
    date: t('experience.2.date'),
    title: t('experience.2.title'),
    company: 'Digitalware',
    description: t('experience.2.description'),
  },
  {
    date: '',
    title: t('experience.3.title'),
    company: 'Open Source',
    description: t('experience.3.description'),
  },
];
---

<ol class='relative mt-16'>
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
