---
import Badge from '@/components/Badge.astro';
import GitHub from '@/components/icons/GitHub.astro';
import LinkedInIcon from '@/components/icons/LinkedIn.astro';
import MailIcon from '@/components/icons/Mail.astro';
import WhatsAppIcon from '@/components/icons/WhatsApp.astro';
import SocialPill from '@/components/SocialPill.astro';
import { defaultLang, type Lang } from '@/i18n/ui';
import { useTranslations } from '@/i18n/utils';

const currentLang = (Astro.currentLocale || defaultLang) as Lang;
const t = useTranslations(currentLang);

const personalImageAlt = t('hero.imgAlt');
---

<div class='max-w-xl'>
  <div class='flex gap-4 mb-4'>
    <img
      class='rounded-full shadow-lg size-16'
      src='/ediercut.webp'
      alt={personalImageAlt}
    />
    <a
      href='https://linkedin.com/in/edier-heraldo-hernandez-molano-4174601aa'
      target='_blank'
      rel='noopener'
      class='flex items-center transition md:justify-center md:hover:scale-105'
    >
      <Badge>{t('hero.badge')}</Badge>
    </a>
  </div>
  <h1
    class='text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white'
  >
    {t('hero.greeting')}
  </h1>
  <p
    class='mt-6 text-xl text-gray-800 dark:[&>strong]:text-primary [&>strong]:text-primary [&>strong]:font-semibold dark:text-gray-300'
  >
    <strong>{t('hero.role')}</strong>, {t('hero.description')}
  </p>
  <nav class='flex flex-wrap gap-4 mt-8'>
    <SocialPill href='mailto:edierhernandezmo@gmail.com'>
      <MailIcon class='size-4' />
      {t('hero.cta')}
    </SocialPill>

    <SocialPill
      href='https://linkedin.com/in/edier-heraldo-hernandez-molano-4174601aa'
    >
      <LinkedInIcon class='size-4' />
      LinkedIn
    </SocialPill>

    <SocialPill href='https://github.com/eideard-hm'>
      <GitHub class='size-4' />
      GitHub
    </SocialPill>
    <SocialPill href='https://wa.me/573206371091'>
      <WhatsAppIcon class='size-4' />
      WhatsApp
    </SocialPill>
  </nav>
</div>
