<div class="curses-certifications" id="curses-certifications">
  <h2>Cursos y Certificaciones</h2>
</div>

<style lang="scss">
  .curses-certifications {
    @include card;
    position: relative;
  }
</style>
