---
const currentYear = new Date().getFullYear();
---

<div class="footer">
  Edier Hernandez · {currentYear}
  <ul class="footer__social" role="list">
    <li>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/edier-heraldo-hernandez-molano-4174601aa/"
        >Linkedin</a
      >
    </li>
    <li><a target="_blank" href="https://github.com/eideard-hm/">GitHub</a></li>
    <li>
      <a target="_blank" href="https://www.instagram.com/eideard.hm/"
        >Instagram</a
      >
    </li>
  </ul>
</div>

<style lang="scss">
  .footer__social {
    display: flex;
    justify-content: center;
    gap: var(--space-xs-s);
    margin-top: var(--space-2xs);
  }

  .footer {
    font-size: var(--step--1);
    text-align: center;
    margin-top: var(--space-l-xl);
    padding-block: var(--space-m);
  }
</style>
