---
import { Image } from 'astro:assets';

import heroImage from '@/assets/images/hero-image.png';
---

<div class="hero">
  <div class="hero__flex">
    <Image
      alt="Foto de Edier"
      src={heroImage}
      height={600}
      width={600}
      loading="eager"
      format="webp"
      sizes="(max-width: 600px) 300px, 600px"
      quality={100}
      class="hero__image"
    />
    <div class="hero__text">
      <h1 class="hero__name">Hola, soy Edier Hernandez</h1>
      <div class="hero__position">
        Desarrollador Web Full Stack: creación de soluciones digitales desde el
        frontend hasta el backend
      </div>
      <a class="hero__cta" href="/#projetos">Mis Proyectos</a>
    </div>
  </div>
</div>

<style lang="scss">
  .hero__flex {
    display: flex;
    flex-direction: row;
    column-gap: var(--space-l);
    row-gap: var(--space-l);
    padding-inline: 1rem;
    justify-content: center;
    align-items: center;

    @media (max-width: 960px) {
      & {
        flex-direction: column;
      }
    }
  }

  .hero__image {
    max-height: 400px;
    max-width: 400px;
    box-shadow: 2px -4px 0 4px var(--danger);
    background-color: var(--danger);
    border-radius: 100%;
    aspect-ratio: 1 / 1;

    @media (max-width: 960px) {
      & {
        max-height: 260px;
        max-width: 260px;
      }
    }
  }

  .hero__text {
    text-align: center;
    display: grid;
    align-content: center;
    line-height: 1.2;
  }

  .hero__name {
    font-size: var(--step-4);
  }

  .hero__position {
    font-size: var(--step-3);
    margin-top: var(--space-xs);
    margin-bottom: var(--space-m);
  }

  .hero__cta {
    width: fit-content;
    margin-inline: auto;
    font-size: var(--step-2);
    @include border-button;
  }
</style>
