---
const pullrequests = await Astro.glob('../assets/pullrequests/*.png');

const pullrequestsInfo = [
  {
    alt: 'Pull request contribuyendo a eideard-hm/api-ws',
    url: 'https://github.com/eideard-hm/api-ws/pull/1',
  },
  {
    alt: 'Pull request contribuyendo a eideard-hm/api-ws',
    url: 'https://github.com/eideard-hm/api-ws/pull/2',
  },
  {
    alt: 'Pull request contribuyendo a eideard-hm/api-ws',
    url: 'https://github.com/eideard-hm/api-ws/pull/3',
  },
  {
    alt: 'Pull request contribuyendo a midudev/openui.com',
    url: 'https://github.com/midudev/openui.com/pull/6',
  },
  {
    alt: 'Pull request contribuyendo a midudev/openui.com',
    url: 'https://github.com/midudev/openui.com/pull/7',
  },
  {
    alt: 'Pull request contribuyendo a midudev/tetris-code-interview',
    url: 'https://github.com/midudev/tetris-code-interview/pull/2',
  },
];
---

<div class="opensource" id="opensource">
  <div class="opensource__card">
    <h2>Open Source</h2>
    <div class="card__text">
      <p>
        He tenido la oportunidad de colaborar en proyectos de código abierto,
        donde mi contribución no solo se trata de líneas de código, sino también
        de ideas y esfuerzo compartido. Trabajar en proyectos de código abierto
        me ha permitido aprender de expertos en el campo, mejorar mis
        habilidades de programación y contribuir al desarrollo de herramientas
        que benefician a una amplia comunidad de usuarios.
      </p>
      <p>
        Además, tengo mis propios proyectos alojados en GitHub bajo la licencia
        MIT, lo que significa que estoy abierto a contribuciones externas y
        animo a la comunidad a bifurcar y aprender de mis repositorios.
      </p>
    </div>
  </div>

  <div class="opensource__gallery">
    {
      pullrequests.map((print, index) => (
        <div class="gallery__image">
          <a href={pullrequestsInfo[index].url} target="_blank">
            <img
              src={print.default.src}
              alt={pullrequestsInfo[index].alt}
              loading="lazy"
            />
          </a>
        </div>
      ))
    }
  </div>
</div>

<style lang="scss">
  h2 {
    font-size: var(--step-3);
  }

  .opensource__card {
    flex-grow: 1;
    max-width: 60ch;
  }

  .card__text {
    margin-top: var(--space-m);
  }
  .opensource__gallery:hover .gallery__image:not(:hover) {
    filter: saturate(0.1);
  }

  .opensource__gallery {
    --overlap: var(--space-xl);
  }

  .opensource__gallery .gallery__image {
    display: block;
    flex-grow: 0;
    isolation: isolate;
    transition: 200ms;
    border: 1px solid #00000060;
    position: relative;
  }

  .opensource__gallery .gallery__image a::after {
    content: '';
    background: linear-gradient(to top, #00000040 10%, transparent);
    bottom: 0;
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 5;
  }

  .opensource__gallery .gallery__image + .gallery__image {
    margin-top: calc(var(--overlap) * -1);
  }

  .opensource__gallery .gallery__image:hover:not(:last-child) {
    transform: translateY(calc(var(--overlap) * -1 * 0.6));
  }

  @media (max-width: 660px) {
    .opensource__gallery {
      --overlap: 0;
    }
  }

  .opensource {
    @include card;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(480px, 100%), 1fr));
    justify-items: start;
    gap: var(--space-xl);
  }
</style>
