---
import Airplane from '~icons/mdi/airplane';
import MdiApplicationVariableOutline from '~icons/mdi/application-variable-outline';
import LightBulb from '~icons/mdi/lightbulb-variant-outline';
---

<div class="skills" id="skills">
  <div class="skills__card">
    <Airplane class="skills__icon" />
    <h2>Aprendizaje de un Segundo Idioma</h2>
    <p>
      Estudió de forma autónoma y en un instituto para desarrollar y potenciar
      mis habilidades en el idioma inglés.
    </p>
  </div>

  <div class="skills__card">
    <MdiApplicationVariableOutline class="skills__icon" />
    <h2>Desarrollo Web y Calidad</h2>
    <p>
      Estoy constantemente aprendiendo y manteniéndome al día con las últimas
      tendencias tecnológicas para ofrecer productos y/o servicios de alta
      calidad.
    </p>
  </div>

  <div class="skills__card">
    <LightBulb class="skills__icon" />
    <h2>Aprendizaje Continuo</h2>
    <p>
      Me gusta estar siempre actualizado y aprender nuevas tecnologías y
      habilidades. Por eso, siempre intento realizar cursos online para ampliar
      mis conocimientos.
    </p>
  </div>
</div>

<style lang="scss">
  h2 {
    margin-bottom: var(--step--1);
    font-size: var(--step-1);
    line-height: 1.2;
  }

  .skills__icon {
    margin-inline: auto;
    font-size: var(--step-3);
    color: var(--bg-details);
    margin-bottom: var(--space-s);
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xl);
    justify-content: space-around;
    text-align: center;
  }

  .skills__card {
    @include card;
    flex: 1 0 200px;
    box-sizing: content-box;
  }
</style>
